
<% if false %>
<%= form_tag card_index_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<% end %>

<% content_for :search do %>
  <div class="large-8 small-9 columns">
  <%= search_form_for @search do |f| %>
    <%= f.text_field :card_name_cont, class: "radius-left expand", placeholder: "Search Cards" %>
  </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "Search", class: "radius-right button" %>
    </div>
  <% end %>
<% end %>

<table>
<% @cards.each do |c| %>
  <tr>
    <td><%= link_to c.card_name, card_path(c.set_sym) %></td>
    <td><%= c.set %> (<%= c.rarity.chars.first.capitalize %>)</td>
    <td><%= c.align.to_s.capitalize %> <%= c.card_type.to_s.capitalize %></td>
    <td>(<%= c.cost %>) <%= c.power %>/<%= c.toughness %></td>
    <td><%= c.card_text %></td>
  </tr>
<% end %>
</table>
