
<% if false %>
<%= form_tag(index_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Cards" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<% end %>

<%= render "title_search_box" %>


<table>
<% @cards = @results unless @results.blank? %>
<% @cards.each do |card| %>
  <tr>
    <td><%= link_to card.card_name, card_path(card.set_sym) %></td>
    <td><%= card.set %> (<%= card.rarity.chars.first.capitalize %>)</td>
    <td><%= card.align.to_s.capitalize %> <%= card.card_type.to_s.capitalize %></td>
    <td>(<%= card.cost %>) <%= card.power %>/<%= card.toughness %></td>
    <td><%= card.card_text %></td>
  </tr>
<% end %>
</table>
